{% extends 'samsara-main.html' %} {% block content %} {% load static %}
<div id="csrf" style="display: none">{% csrf_token %}</div>
<div class="container">
  <div class="table">
    <div class="row">
      <h1>Truck Information</h1>
    </div>
    <table>
      <thead>
        <td>№</td>
        <td>Unit number</td>
        <td>Odometer</td>
        <td>Latitude</td>
        <td>Longitude</td>
        <td>Speed</td>
        <td>Location</td>
        <td>Alarm</td>
      </thead>
      <tbody id="tbody"></tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/samsara.js' %}"></script>

{% endblock %}
