{% extends 'budget-main.html' %} {% block content %} {% load static %}

<div class="container">
  <div class="table">
    {% if many_drivers == True %}
    <h1>All Archives</h1>
    {% else %}
    <h2>{{name}}</h2>
    {% endif %}
    <table>
      <thead>
        <td>Change</td>
        {% if many_drivers == True %}
        <td>Driver's name</td>
        {% endif %}
        <td>Budget type</td>
        <td>Changed Time</td>
        <td>Changed by</td>
        <td>BOL number</td>
        <td>PCS number</td>
        <td>Notes</td>
        <td>Actions</td>
      </thead>
      <tbody id="tbody">
        {% for log in logs %}
        <tr>
          <td>{{log.change}}</td>
          {% if many_drivers == True %}
          <td>{{log.driver}}</td>
          {% endif %}
          <td>{% if log.budget_type == 'D' %}Driver's{% elif log.budget_type == 'L' %}Lane{% elif log.budget_type == 'R' %}Recovery{% endif %} Budget</td>
          <td>{{log.date}}</td>
          <td>{{log.user}}</td>
          <td>{{log.bol_number}}</td>
          <td>{{log.pcs_number}}</td>
          <td>{{log.note}}</td>
          <td class="highLited">
            <i onclick="edit_log({{log.id}})" class="fa-solid fa-pen"></i>
            {%if log.edited_link %}
            <a href="{% url 'archive-edits' log.id %}">edited</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'js/budget.js' %}"></script>

{% endblock %}
