{% extends 'main.html' %} {% block content %} {% load static %}

<div class="container">
  <div class="table">
    <h1>Budget</h1>

    <table>
      <thead>
        <td>First name</td>
        <td>Last name</td>
        <td>Driver type</td>
        <td>Dispatcher</td>
        <td>Updater</td>
        <td>Driver's Budget</td>
        <td>Lane Budget</td>
        <td>Recovery Budget</td>
        <td>Total Budget</td>
        <td>Actions</td>
      </thead>
      <tbody id="tbody">
        {% for driver in drivers %}
        <tr>
          <td>{{driver.first_name}}</td>
          <td>{{driver.last_name}}</td>
          <td>{% if driver.driver_type == "OO"%}Owner{% elif driver.driver_type == "CD" %}Company{% elif driver.driver_type == "LO" %}Lease{% endif %}</td>
          <td>{{driver.dispatcher}}</td>
          <td>{{driver.updater}}</td>
          <td>{{driver.d_budget}}</td>
          <td>{{driver.l_budget}}</td>
          <td>{{driver.r_budget}}</td>
          <td>{{driver.total_budget}}</td>
          <td class="highLited">
            <i class="fa-solid fa-dollar-sign" onclick="modify(this, {{driver.id}})"></i>
            <i onclick="archive({{ driver.id }})" class="fa-solid fa-clock-rotate-left"></i>
            <i onclick="driver_detail({{ driver.id }})" class="fa-solid fa-user"></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div id="form">
  <div class="title-bar">Add to Budget</div>
  <div class="contain">
    <div id="csrf">{% csrf_token %}</div>
    <label for="f-name">Full name:</label>
    <div id="full-name"></div>
    <label for="amount">Change of amount:</label>
    <input id="input-amount" type="number" />
    <label for="b-type">Budget type:</label>
    <select name="budget-type" id="budget-type">
      <option value="D">Driver's Budget</option>
      <option value="L">Lane Budget</option>
      <option value="R">Recovery Budget</option>
    </select>
    <label for="amount">BOL number:</label>
    <input id="bol-number" type="text" />
    <label for="amount">PCS number:</label>
    <input id="pcs-number" type="text" />
    <label for="amount">Note: </label>
    <input id="note" type="text" />
    <div class="buttons">
      <button onclick="submit()">Submit</button>
      <button onclick="cancel()">Cancel</button>
    </div>
  </div>
</div>
<script src="{% static 'js/budget.js' %}"></script>

{% endblock %}
