{% extends 'budget-main.html' %} {% block content %}{% load static %}
<div class="container">
  <div class="table">
    <div class="row">
      <h1>Dispatchers' gross of current week ({{week_start}} - {{week_end}})</h1>
      <div class="week-buttons">
		          <i class="fa-solid fa-arrow-left" onclick="prew_week()"></i>
				            <i class="fa-solid fa-arrow-right" onclick="next_week()"></i>
						            </div>
      <input type="text" id="search-input" onkeyup="search()" placeholder="Search by name..." />
    </div>
    <table>
      <thead class="sticky">
        <td onclick="sort(this)" class="sortable">Full name</td>
        <td onclick="sort(this)" class="sortable">Username</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Actual gross</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Target gross</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Percentage</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Num. of drivers</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Average RPM</td>
      </thead>
      <tbody id="tbody">
        {% for dispatcher in dispatchers %}
        <tr
          style="background: {% if dispatcher.percentage > 100 %}#d9ffcc
          {% elif dispatcher.percentage > 80 and dispatcher.percentage <= 100%}#f2ffcc
          {% elif dispatcher.percentage > 60 and dispatcher.percentage <= 80%}#ffffcc
          {% elif dispatcher.percentage > 40 and dispatcher.percentage <= 60%}#fff2cc
          {% elif dispatcher.percentage > 20 and dispatcher.percentage <= 40%}#ffe6cc
          {% elif dispatcher.percentage >= 0 and dispatcher.percentage <= 20%}#ffcccc
          {% endif %};
          "
        >
          <td>{{dispatcher.first_name}} {{dispatcher.last_name}}</td>
          <td>{{dispatcher.username}}</td>
          <td class="bold-field align-right">{{dispatcher.actual_gross}}</td>
          <td class="align-right">{{dispatcher.target_gross}}</td>
          <td class="align-right bold-field">{{dispatcher.percentage}}%</td>
          <td class="align-right">{{dispatcher.drivers}}</td>
          <td class="align-right bold-field">{{dispatcher.rate}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'js/budget.js' %}"></script>

{% endblock %}
