{% extends 'budget-main.html' %} {% block content %}
<div id="register">
  <h1>Driver Settings</h1>
  <form method="POST">
    {% csrf_token %}
    <div>
      <label>{{form.first_name.label}}</label>
      {{form.first_name}}
    </div>
    <div>
      <label>{{form.last_name.label}}</label>
      {{form.last_name}}
    </div>

    <div>
      <label>{{form.driver_type.label}}</label>
      {{form.driver_type}}
    </div>
    <div>
      <label>{{form.dispatcher.label}}</label>
      {{form.dispatcher}}
    </div>
    <div>
      <label>{{form.gross_target.label}}</label>
      {{form.gross_target}}
    </div>
    <div>
      <label>{{form.is_active.label}}</label>
      {{form.is_active}}
    </div>
    {% comment %}
    <div>
      <label>Add Dispatcher</label>
      <select name="add_d" id="add_user">
        <option value="" selected="">---------</option>
        {% for dispatcher in dispatchers %}
        <option value="{{dispatcher.username}}">{{dispatcher.username}}</option>
        {%endfor%}
      </select>
    </div>
    {% endcomment %} {% comment %}
    <div>
      <label>Add Updater</label>
      <select name="add_u" id="add_user">
        <option value="" selected="">---------</option>
        {% for updater in updaters %}
        <option value="{{updater.username}}">{{updater.username}}</option>
        {%endfor%}
      </select>
    </div>
    {% endcomment %}

    <input class="button" type="submit" value="Submit" />
    <span class="errors"></span>
    {{form.errors}}
  </form>
  {% comment %}
  <div>
    <div class="table">
      <h3>Dispatchers</h3>
      <table>
        <thead>
          <td>First name</td>
          <td>Last name</td>
          <td>Username</td>
          <td>Actions</td>
        </thead>
        <tbody>
          {% for cloned_user in cloned_users %} {% if cloned_user.user_type == 'D' %}
          <tr>
            <td>{{cloned_user.first_name}}</td>
            <td>{{cloned_user.last_name}}</td>
            <td>{{cloned_user.username}}</td>
            <td class="highLited">
              <i onclick="driver_detail({{ driver.id }})" class="fa-solid fa-user"></i>
              <i class="fa-solid fa-chart-line"></i>
            </td>
          </tr>
          {% endif %} {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="table">
      <h3>Updaters</h3>
      <table>
        <thead>
          <td>First name</td>
          <td>Last name</td>
          <td>Username</td>
          <td>Actions</td>
        </thead>
        <tbody>
          {% for cloned_user in cloned_users %} {% if cloned_user.user_type == 'U' %}
          <tr>
            <td>{{cloned_user.first_name}}</td>
            <td>{{cloned_user.last_name}}</td>
            <td>{{cloned_user.username}}</td>
            <td class="highLited">
              <i onclick="driver_detail({{ driver.id }})" class="fa-solid fa-user"></i>
              <i class="fa-solid fa-chart-line"></i>
            </td>
          </tr>
          {% endif %} {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  {% endcomment %}
</div>

{% endblock %}
