{% extends 'budget-main.html' %} {% block content %}{% load static %}
<div class="container">
  <div class="table">
    <div class="row">
      <h1>Drivers' gross of current week ({{week_start}} - {{week_end}})</h1>
      <div class="week-buttons">
        <i class="fa-solid fa-arrow-left" onclick="prew_week()"></i>
        <i class="fa-solid fa-arrow-right" onclick="next_week()"></i>
      </div>
      <input type="text" id="search-input" onkeyup="search()" placeholder="Search by name..." />
    </div>
    <table>
      <thead class="sticky">
        <td onclick="sort(this)" class="sortable">First name</td>
        <td onclick="sort(this)" class="sortable">Last name</td>
        {% if is_superuser %}
        <td onclick="sort(this)" class="sortable">Dispatcher</td>
        {% endif %}
        <td class="align-right" onclick="sort(this)" class="sortable">Actual gross</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Target gross</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Total miles</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Percentage</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Num. of loads</td>
        <td class="align-right" onclick="sort(this)" class="sortable">Average RPM</td>
      </thead>
      <tbody id="tbody">
        {% for driver in drivers %} {% if driver.is_active %}
        <tr
          style="background: {% if driver.percentage > 100 %}#d9ffcc
          {% elif driver.percentage > 80 and driver.percentage <= 100%}#f2ffcc
          {% elif driver.percentage > 60 and driver.percentage <= 80%}#ffffcc
          {% elif driver.percentage > 40 and driver.percentage <= 60%}#fff2cc
          {% elif driver.percentage > 20 and driver.percentage <= 40%}#ffe6cc
          {% elif driver.percentage >= 0 and driver.percentage <= 20%}#ffcccc
          {% endif %};
          "
        >
          <td>{{driver.first_name}}</td>
          <td>{{driver.last_name}}</td>
          {% if is_superuser %}
          <td>{{driver.disp}}</td>
          {% endif %}
          <td class="bold-field align-right">{{driver.actual_gross}}</td>
          <td class="align-right">{{driver.gross_target}}</td>
          <td class="align-right">{{driver.total_miles}}</td>
          <td class="align-right bold-field">{{driver.percentage}}%</td>
          <td class="align-right">{{driver.loads}}</td>
          <td class="align-right bold-field">{{driver.rate}}</td>
        </tr>
        {%endif%} {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'js/budget.js' %}"></script>

{% endblock %}
