{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/budget.css' %}" />
    <title>Budget</title>
  </head>
  <body>
    <nav>
      <img src="{% static 'images/logo2.png' %}" alt="logo" width="130" />
      <div class="categories">
        <a href="{% url 'budget' %}">Budget</a>
        <a href="{% url 'users' %}">Users</a>
        <a href="{% url 'new-user' %}">New User</a>
        <a href="{% url 'new-driver' %}">New Driver</a>
      </div>
      <a href="{% url 'logout' %}">Log out</a>
    </nav>
    <div id="main">{% block content %} {% endblock %}</div>
  </body>
</html>
