{% extends 'budget-main.html' %} {% block content %}
<div class="container">
  <div class="table">
    <h1>Users</h1>

    <table>
      <thead>
        <td>First name</td>
        <td>Last name</td>
        <td>Username</td>
        <td>Last Login</td>
        <td>Date Joined</td>
        <td>Actions</td>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.last_login}}</td>
          <td>{{user.date_joined}}</td>
          <td class="highLited">
            <abbr title="Personal information"><i onclick="user_detail({{ user.id }})" class="fa-solid fa-user"></i></abbr>
            <i class="fa-solid fa-chart-line"></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function user_detail(id) {
    location.href = "/budget/user-detail/" + id;
  }
</script>
{% endblock %}
