{% extends 'budget-main.html' %} {% block content %}
<div class="container">
  <div class="table">
    <h1>Users</h1>

    <table>
      <thead>
        <td>First name</td>
        <td>Last name</td>
        <td>Username</td>
        <td>User Type</td>
        <td>Last Login</td>
        <td>Date Joined</td>
        <td>Actions</td>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.username}}</td>
          <td>{% if user.user_type == 'D' %}Dispatcher{% elif user.user_type == 'U' %}Updater{% endif %}</td>
          <td>{{user.last_login}}</td>
          <td>{{user.date_joined}}</td>
          <td class="highLited">
            <i onclick="driver_detail({{ driver.id }})" class="fa-solid fa-user"></i>
            <i class="fa-solid fa-chart-line"></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
